= simple_form_for [@media_file] do |f|
  =f.input :name
  =f.input :file_path
  =f.association :media_type
  =f.association :media_categories, as: :check_boxes
  =f.input :comment
  =f.submit 'Save', class: 'btn btn-primary btn-block mb-2'
